.DealCard button {
  color: antiquewhite;
  background-color: rgb(29, 146, 29);
  border: 2px solid rgb(29, 146, 29);
  width: 12rem;
  height: 2.5rem;
  font-family: 'Slabo 27px', serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 500ms;
}

.DealCard button:hover {
  transition: 500ms;
  background-color: rgb(48, 173, 48);
  border-color: #7cbe7e;
}
