.DealCard button {
  color: antiquewhite;
  background-color: rgb(29, 146, 29);
  border: 0;
  width: 12rem;
  height: 2.5rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.DealCard {
  margin: 30px 0px 50px 0px;
}
